{% extends '_layouts/cp' %}
{% set selectedSubnavItem = 'submissions' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
	{ label: 'Submissions'|t('formski'), url: url('formski/submissions') }
] %}

{% block details %}
	<div class="meta read-only">
		<div class="data">
			<h5 class="heading">User</h5>
			<div class="value">
				{% if submission.user %}
					<a href="{{ submission.user.cpEditUrl }}">{{ submission.user }}</a>
				{% else %}
					Guest
				{% endif %}
			</div>
		</div>

		<div class="data">
			<h5 class="heading">IP Address</h5>
			<div class="value">{{ submission.ipAddress }}</div>
		</div>

		<div class="data">
			<h5 class="heading">User Agent</h5>
			<div class="value">{{ submission.userAgent }}</div>
		</div>

		<div class="data">
			<h5 class="heading">Date Submitted</h5>
			<div class="value">{{ submission.dateCreated|datetime('short') }}</div>
		</div>

		<div class="data">
			<h5 class="heading">Date Updated</h5>
			<div class="value">{{ submission.dateUpdated|datetime('short') }}</div>
		</div>
	</div>
{% endblock %}

{% block content %}

	{% for uid, settings in submission.form.fieldSettings %}
		{% if settings['_type'] in ['heading', 'description'] %}
			{% if settings['_type'] == 'heading' %}
				<h1>{{ settings['label'] }}</h1>
			{% else %}
				{{ forms.field({
					label: 'Description'
				}, settings['description']|md) }}
			{% endif %}
		{% else %}
			{% set value %}
				<p>{{ submission[uid] ?? '' }}</p>
			{% endset %}
			{{ forms.field({
				label: settings['label']
			}, value) }}
		{% endif %}
	{% endfor %}

{% endblock %}