{% extends '_layouts/cp' %}
{% set selectedSubnavItem = 'forms' %}
{% set fullPageForm = true %}

{% set crumbs = [
	{ label: 'Forms'|t('formski'), url: url('formski/forms') }
] %}

{% macro formskiLabel (children, noInstr = false, type = null) %}
	<div class="formski-field"{% if type %} data-type="{{ type }}"{% endif %}>
		<div class="formski-field-label">
			Label
		</div>

		{% if not noInstr %}
			<div class="formski-field-instructions"></div>
		{% endif %}

		{{ children }}
	</div>
{% endmacro %}

{% set formskiDropZoneH -%}
	<div class="formski-form-drop-h"></div>
{%- endset %}

{% set formskiDropZoneV -%}
	<div class="formski-form-drop-v"></div>
{%- endset %}

{% import '_includes/forms' as forms %}
{% import _self as _ %}

{% block actionButton %}
	{% if form is defined %}
		<input type="hidden" name="id" value="{{ form.id }}">
	{% endif %}
	<input type="hidden" name="action" value="formski/forms/save">
	{{ redirectInput('formski/forms/{id}') }}
	{{ parent() }}
{% endblock %}

{% block content %}

	{#{% if form is defined %}
		<div style="grid-column: span 12">
			<pre><code>{{ dump(form.getErrors()) }}</code></pre>
		</div>
	{% endif %}#}

	<ul class="formski-fields" id="formskiFields">
		<li class="formski-fields-heading">Fields</li>

		<li draggable="true" data-type="text">
			{{ svg('@formskiWeb/assets/forms/icons/text.svg') }}
			Text
		</li>

		<li draggable="true" data-type="textarea">
			{{ svg('@formskiWeb/assets/forms/icons/text-area.svg') }}
			Text Area
		</li>

		<li draggable="true" data-type="dropdown">
			{{ svg('@formskiWeb/assets/forms/icons/dropdown.svg') }}
			Dropdown
		</li>

		<li draggable="true" data-type="radio">
			{{ svg('@formskiWeb/assets/forms/icons/radio.svg') }}
			Radio Buttons
		</li>

		<li draggable="true" data-type="checkbox">
			{{ svg('@formskiWeb/assets/forms/icons/checkbox.svg') }}
			Checkboxes
		</li>

		<li draggable="true" data-type="acceptance">
			{{ svg('@formskiWeb/assets/forms/icons/acceptance.svg') }}
			Acceptance
		</li>

		<li class="formski-fields-heading">Other</li>

		<li draggable="true" data-type="heading">
			{{ svg('@formskiWeb/assets/forms/icons/heading.svg') }}
			Heading
		</li>

		<li draggable="true" data-type="description">
			{{ svg('@formskiWeb/assets/forms/icons/description.svg') }}
			Description
		</li>
	</ul>

	<div class="formski-form" id="formskiForm">
		{{ formskiDropZoneH }}
	</div>

	<aside class="formski-settings">
		{% include '_includes/tabs' with {
			tabs: {
				formSettings:  { label: 'Form Settings', url: '#form-settings' },
				fieldSettings: { label: 'Field Settings', url: '#field-settings' },
			},
			selectedTab: selectedTab is defined ? selectedTab : 'formSettings',
		} %}

		<div id="form-settings">
			<div class="meta">
				{{ forms.textField({
					label: 'Title',
					id: 'title',
					name: 'title',
					required: true,
					placeholder: 'My Form',
					value: form is defined ? form.title|trim,
					errors: form is defined ? form.getErrors('title')
				}) }}

				{{ forms.textField({
					label: 'Slug',
					id: 'slug',
					name: 'slug',
					required: true,
					placeholder: 'my-form',
					value: form is defined ? form.slug|trim,
					errors: form is defined ? form.getErrors('slug')|merge(form.getErrors('uri'))
				}) }}

				{{ forms.textField({
					label: 'Title Format <div class="info">'~('Submission titles will be generated based off this format. See [Dynamic Titles](https://docs.craftcms.com/v3/sections-and-entries.html#dynamic-entry-titles) for the formatting.'|md)~'</div>',
					name: 'titleFormat',
					required: true,
					value: form is defined ? form.titleFormat : '{dateCreated|date(\'D, d M Y H:i:s\')}',
					errors: form is defined ? form.getErrors('titleFormat')
				}) }}

				{{ forms.elementSelectField({
					label: 'Author'|t('app'),
					id: 'author',
					name: 'author',
					elementType: userElementType,
					selectionLabel: 'Choose'|t('app'),
					criteria: [],
					limit: 1,
					elements: (form is defined and form.author ? [form.author] : [currentUser]),
					required: true,
					errors: form is defined ? form.getErrors('authorId')
				}) }}

				{{ forms.dateTimeField({
					label: 'Date Due <div class="info">When the form must be completed by for existing users.</div>'|t('formski'),
					id: 'dateDue',
					name: 'dateDue',
					value: form is defined ? form.dateDue,
				}) }}

				{{ forms.textField({
					label: 'Days to Complete <div class="info">When the form must be completed by for new users.</div>'|t('formski'),
					type: 'number',
					value: form is defined ? form.daysToComplete,
				}) }}

				{{ forms.lightswitchField({
					label: 'Enabled',
					name: 'enabled',
					on: form is defined ? form.enabled : true,
				}) }}
			</div>
		</div>

		<div id="field-settings" class="hidden">
			{# TODO: Pre-fill existing field settings #}
			<div class="formski-settings-empty">
				You don't have any fields.
			</div>
		</div>
	</aside>

{% endblock %}

{% block foot %}
	{{ parent() }}

	<template id="formskiDropZoneH">
		{{ formskiDropZoneH }}
	</template>

	<template id="formskiDropZoneV">
		{{ formskiDropZoneV }}
	</template>

	<template id="formskiRow">
		<div class="formski-form-row">
			{{ formskiDropZoneV }}

			<!-- Field -->

			{{ formskiDropZoneV }}
		</div>
	</template>

	<template data-formski-field="text">
		{% set formskiText %}
			<input type="text">
		{% endset %}
		{{ _.formskiLabel(formskiText) }}
	</template>

	<template data-formski-field="textarea">
		{% set formskiTextArea %}
			<textarea rows="5"></textarea>
		{% endset %}
		{{ _.formskiLabel(formskiTextArea) }}
	</template>

	<template data-formski-field="dropdown">
		{% set formskiDropdown %}
			<label>
				<select></select>
				<span></span>
			</label>
		{% endset %}
		{{ _.formskiLabel(formskiDropdown, false, 'dropdown') }}
	</template>

	<template data-formski-field="radio">
		{% set formskiRadio %}
			<label>
				<input type="radio" value="value">
				<span>Label</span>
			</label>
		{% endset %}
		{{ _.formskiLabel(formskiRadio, false, 'radio') }}
	</template>

	<template data-formski-field="checkbox">
		{% set formskiCheckbox %}
			<label>
				<input type="checkbox" value="value">
				<span>Label</span>
			</label>
		{% endset %}
		{{ _.formskiLabel(formskiCheckbox, false, 'checkbox') }}
	</template>

	<template data-formski-field="acceptance">
		{% set formskiCheckbox %}
			<label>
				✅
				<span class="formski-field-instructions" style="display:inline"></span>
			</label>
		{% endset %}
		{{ _.formskiLabel(formskiCheckbox, true) }}
	</template>

	<template data-formski-field="heading">
		<div class="formski-field">
			<h1 class="formski-field-label">
				Label
			</h1>
		</div>
	</template>

	<template data-formski-field="description">
		<div class="formski-field">
			<div class="formski-field-md">
				<p>Enter your description</p>
			</div>
		</div>
	</template>
{% endblock %}

{% if form is not defined or not form.slug %}
	{%- js -%}
		window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');
	{%- endjs -%}
{% endif %}